<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<p>hello</p>
	<form action="/login" method="post" accept-charset="utf-8">
		<input type="text" name="username" value="" placeholder="" onkeyup="value=value.replace(/[\W]/g,'') ">
		<input type="password" name="password" value="" placeholder="">
		<input type="submit" name="" value="tijiao">
	</form>
</body>
</html>